* {
    font-family: Roboto, Georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: auto;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #66bdff;
}

#header-logo {
    width: 100%;
    height: 100%;
    max-width: 100px;
}

.logo {
    width: 60vw;
}

#about-us {
    background-color: white;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 36px 48px;
}

.visit-button {
    background-color: orange;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

#building {
    max-width: 450px;
    height: auto;
    
}

.staff-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#doctors {
    width: 325px;
    height: 425px;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;
    justify-content: center;
    text-align: center;
    margin: 40px;
}

.staff-text {
    margin: 15px;
}