* {
    font-family: Roboto, Georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Users/mikeyos/repos/landing-page/images/background.jpg);
}

header {
    background-image: url(/Users/mikeyos/repos/landing-page/images/background.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: auto;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.35rem;
    box-shadow: inset 0 0 0 0 #fdde90;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  box-shadow: inset 100px 0 0 0 #fdde90;
  color: white;
}

#about-us {
    background-color: white;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 36px 48px;
}

.visit-button {
    background-color: #f2cb69;
    height: 40px;
    width: 100px;
    text-align: center;
    margin: 10px auto;
}

.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    text-align: center;
    margin: auto;
}

#building {
    max-width: 450px;
    height: auto;
    
}

.meet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 25px;
}

.staff-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#doctors {
    width: 325px;
    height: 425px;
    border: 4px solid #f2cb69;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;
    justify-content: center;
    text-align: center;
    margin: 40px;
}

.staff-text {
    margin: 15px;
}

h3 {
    margin: 8px 4px;
}

.quote > h2 {
    background-color: #ffffff;
    font-family: 'Apple Chancery', cursive;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
  }

